:root{
    --cor-princpal: #ffffff;
    --botao-destaque: #0092ff;
    --cor-de-fundo: #000000;
}

*{
    margin: 0;
    padding: 0;
}
body{
    color: var(--cor-princpal);
    font-weight: 400;
    font-size: 16px;
}
.principal{
    background-image: url(img/background.png);
    background-color: #000000;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: right;
    
}
.titulo{
    font-size: 150px;
    text-align: center;
    margin-left: 100px;
    margin-top: 100px;
}
.container{
    height: 100vh;
    display:grid;
    grid-template-columns: 30% 70%;
}
.container--botao{
    background-color: var(--botao-destaque);
    color: var(--cor-princpal);
    padding: 1em;  
    border-radius: 5px;
    text-decoration: none;
    display: block;
    width: 8%;
    margin-left: 850px; 
    margin-top: 20px;                                     ;
}
.container--botao2{
    background-color: var(--botao-destaque);
    color: var(--cor-princpal);
    padding: 1em;  
    border-radius: 20px;
    text-decoration: none;
    display: block;
    width: 8%;
    margin-left: 710px;
    margin-top: -50px;                                   ;
}

